*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #ab8f97;
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: rgba(254, 21, 0, 0.904); */
}
#part2{
    height: 100%;
    width: 67%;
    background-color:rgb(0, 233, 254);
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    background-position: center;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #a7999e62;
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color:rgb(0, 255, 221); */
}
#text-div{
    width: 400px;
    position: absolute;
    color: white;
    left: 5%;
    top: 50%;
    transform: translate(0,-50%);
}
#text-div>h1{
    font-size: 85px;
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 74px;
    text-transform: uppercase;
}
#small-img{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1494354145959-25cb82edf23d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
}
#vertical-text{
    position: absolute;
    right: -20%;
    top: 30%;
    transform-origin:0% 0%;
    /* width: 100%; */
    /* background-color: red; */
}
#vertical-text>h1{
    font-size: 55px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    color: transparent;
    transform: rotate(90deg);
    letter-spacing: 3px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
#nav{
    position: absolute;
    width: 350px;
    left: 8%;
    top:5%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height:60px;
}
#nav h5{
    font-size: 20px;
    font-family: gilroy;
    color: white;

}